{% if customer and customer.tags contains 'wholesale' %}{% assign wholesale-customer = true %}{% endif %}
{% for variant in product.variants %}{% if variant.title contains 'wholesale' %}{% assign wholesale-product = true %}{% endif %}{% endfor %}
{% assign price = product.price_max %}
{% if wholesale-customer and wholesale-product %}
	{% for variant in product.variants %}
		{% if variant.title contains 'wholesale' %}
			{% if variant.price < price %}
				{% unless price == variant.price %}{% assign count = count | plus:1 %}{% endunless %}
				{% assign price = variant.price %}
			{% endif %}
			{% if variant.compare_at_price %}
				{% assign compare = true %}
				{% assign compare-price = variant.compare_at_price %}
			{% endif %}
		{% endif %}
	{% endfor %}
{% else %}
	{% for variant in product.variants %}
		{% unless variant.title contains 'wholesale' %}
			{% if variant.price < price %}
				{% unless price == variant.price %}{% assign count = count | plus:1 %}{% endunless %}
				{% assign price = variant.price %}
			{% endif %}
			{% if variant.compare_at_price %}
				{% assign compare = true %}
				{% assign compare-price = variant.compare_at_price %}
			{% endif %}
		{% endunless %}
	{% endfor %}
{% endif %}
{% if count > 1 %}{% assign range = true %}{% endif %}
<p id="price">{% if compare %}<del>{{ compare-price | money }}</del>{% endif %} {% if range %}from {% endif %}{{ price | money }}</p>

<select name="id" id="product-select" onchange="variantSelect(this.value)">
	{% for variant in product.variants %}
		{% if wholesale-customer and wholesale-product %}
			{% if variant.title contains 'wholesale' %}<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>{% endif %}
		{% else %}
			{% unless variant.title contains 'wholesale' %}<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>{% endunless %}
		{% endif %}
	{% endfor %}
</select>

<script>
	function variantSelect(variantID) {
		{% for variant in product.variants %}
			if(variantID == "{{ variant.id }}") {
				document.getElementById('price').innerHTML = "{% if variant.compare_at_price %}<del>{{ variant.compare_at_price }}</del>{% endif %} {{ variant.price | money }}";
			}
		{% endfor %}
	}
</script>