<select name="id" id="product-select">
	{% for variant in product.variants %}
		{% if customer and customer.tags contains 'wholesale' %}
			{% if variant.title contains 'wholesale' %}<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>{% endif %}
		{% else %}
			{% unless variant.title contains 'wholesale' %}<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>{% endunless %}
		{% endif %}
	{% endfor %}
</select>